In [51]:
import pandas as pd

In [52]:
df=pd.read_csv('survey_results_public.csv',index_col='ResponseId')

In [53]:
pd.set_option('display.max_column',48)
pd.set_option('display.max_rows',50)

In [54]:
df.head(5)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [55]:
df['ConvertedCompYearly'].median()

56211.0

In [56]:
df.median()

C:\Users\SIVA\AppData\Local\Temp\ipykernel_19436\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

In [57]:
df.describe()

          CompTotal  ConvertedCompYearly
count  4.718300e+04         4.684400e+04
mean   2.119407e+69         1.184262e+05
std    4.603702e+71         5.272944e+05
min    0.000000e+00         1.000000e+00
25%    1.600000e+04         2.702500e+04
50%    6.700000e+04         5.621100e+04
75%    1.400000e+05         1.000000e+05
max    1.000000e+74         4.524131e+07

In [58]:
df['ConvertedCompYearly'].count()

46844

In [89]:
df['Trans'].value_counts(normalize=True)

No                        0.957820
Prefer not to say         0.021865
Yes                       0.012829
Or, in your own words:    0.007487
Name: Trans, dtype: float64

In [60]:
df['EdLevel'].value_counts()

Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          35357
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       17512
Some college/university study without earning a degree                                10589
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     9534
Other doctoral degree (Ph.D., Ed.D., etc.)                                             2567
Primary/elementary school                                                              2479
Associate degree (A.A., A.S., etc.)                                                    2231
Something else                                                                         1601
Professional degree (JD, MD, etc.)                                                     1256
Name: EdLevel, dtype: int64

In [61]:
df['EdLevel'].value_counts(normalize=True)

Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          0.425342
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       0.210668
Some college/university study without earning a degree                                0.127385
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    0.114693
Other doctoral degree (Ph.D., Ed.D., etc.)                                            0.030881
Primary/elementary school                                                             0.029822
Associate degree (A.A., A.S., etc.)                                                   0.026839
Something else                                                                        0.019260
Professional degree (JD, MD, etc.)                                                    0.015110
Name: EdLevel, dtype: float64

In [62]:
country_grp=df.groupby(['Country'])

In [63]:
country_grp.get_group("India").head(30)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Python,Java;Kotlin;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unity 3D,NaN,Android Studio,Android Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,NaN,MongoDB,NaN,Heroku,NaN,Express;jQuery;React.js,NaN,Keras;NumPy;TensorFlow,NaN,Flow;Unity 3D,NaN,IPython/Jupyter;Sublime Text;Visual Studio Code,NaN,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Pyth...,Dart;Elixir;Go;SQL,NaN,NaN,Heroku,NaN,Django;Express;React.js,Angular,NaN,NaN,Git;Yarn,NaN,Android Studio;Atom;Notepad++;Sublime Text;Vis...,NaN,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,4,"Developer, full-stack","1,000 to 4,999 employees",INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;TypeScript,HTML/CSS;JavaScript;Node.js;PowerShell;Python;...,Firebase;MongoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;DigitalOcean;Heroku;Microsoft Azure;Oracle...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Express;React.js,Angular;Express;React.js,Cordova,Cordova,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Visual Studio Code;Xcode,Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
60,I am a developer by profession,"Student, full-time",India,NaN,NaN,Something else,5 - 10 years,"Other online resources (ex: videos, blogs, etc)",2,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C;JavaScript;Python;SQL,NaN,NaN,NaN,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,NaN,Django;Flask,Django;Flask,Keras;NumPy;Pandas;Qt;TensorFlow;Torch/PyTorch,NaN,Docker;Git;Kubernetes,NaN,IPython/Jupyter;Vim;Visual Studio Code,IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Visit Stack Overflow,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per week,"Yes, definitely",No,Under 18 years old,"Non-binary, genderqueer, or gender non-conforming",Yes,Straight / Heterosexual;Bisexual;Gay or Lesbia...,East Asian,I am deaf / hard of hearing;I am blind / have ...,None of the above,Too short,Easy,NaN
73,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,NaN,4,NaN,"Developer, front-end",100 to 499 employees,INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript,NaN,NaN,NaN,NaN,NaN,jQuery;React.js,jQuery;React.js,NaN,NaN,NaN,NaN,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,MacOS,Visit Stack Overflow;Google it,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,25-34 years old,Man,NaN,Straight / Heterosexual,Prefer not to say,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
94,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",25 - 34 years,Online Courses or Certification,6,5,"Developer, mobile",100 to 499 employees,INR\tIndian rupee,NaN,Monthly,HTML/CSS;Objective-C;Swift,Kotlin;Objective-C;Swift,Firebase;MySQL;SQLite,Firebase;MySQL;SQLite,AWS,AWS,NaN,NaN,NaN,NaN,NaN,NaN,Android Studio;Xcode,Sublime Text;Visual Studio Code;Xcode,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per week,"Yes, definitely",Yes,25-34 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
99,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",3,Less than 1 year,"Developer, mobile;Developer, front-end;Develop...",20 to 99 employees,INR\tIndian rupee,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linux-based,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Too long,Easy,NaN
122,I am a developer by profession,"Independent contractor, freelancer, or self-em...",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,2,"Developer, full-stack",20 to 99 employees,INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;TypeScript,C++;HTML/CSS;JavaScript;Node.js;Python;TypeScript,MongoDB;PostgreSQL,Cassandra;DynamoDB;Elasticsearch;Firebase;Mong...,AWS;DigitalOcean;Heroku,AWS;Google Cloud Platform;Microsoft Azure,Express;React.js,Express;Gatsby;React.js;Vue.js,NumPy;Pandas,Keras;NumPy;Pandas;React Native;TensorFlow,Docker;Git;Yarn,Docker;Git;Kubernetes;Yarn,Sublime Text;Visual Studio Code,Sublime Text;Vim;Visual Studio Code,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
150,I am a student who is learning to code,"Independent contractor, freelancer, or self-em...",India,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,"Developer, desktop or enterprise applications;...",NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Node.js;Rust,Java;Node.js;Rust,Firebase;MySQL,Firebase,Heroku,Heroku,React.js,React.js,NaN,NaN,Git;Unity 3D,Git,IntelliJ;Visual Studio;Visual Studio Code,IntelliJ;Visual Studio Code,Windows,Google it;Other (please specify):,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per month or weekly,"Yes, somewhat",No,NaN,Man,No,Straight / Heterosexual,Southeast Asian;South Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
155,I am a developer by profession,"Independent contractor, freelancer, or self-em...",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",20,7,"Developer, front-end;Developer, full-stack;Dev...","Just me - I am a freelancer, sole proprietor, ...",INR\tIndian rupee,14000.0,Monthly,HTML/CSS;JavaScript;Node.js;PHP;PowerShell;Pyt...,HTML/CSS;JavaScript;Node.js;Perl;PHP;PowerShel...,Firebase;MariaDB;MongoDB;MySQL;Redis,Firebase;MariaDB;MongoDB;MySQL;Redis,Heroku,AWS;DigitalOcean;Heroku,Angular;Express;Gatsby;jQuery;React.js,Express;Gatsby;Laravel;React.js;Ruby on Rails;...,NaN,NaN,Git,Docker;Git;Kubernetes,Notepad++;Sublime Text,Sublime Text,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,Southeast Asian;South Asian;East Asian;Indigen...,I am blind / have difficulty seeing,None of the above,Appropriate in length,Easy,2340.0
190,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,6,NaN,NaN,NaN,NaN,NaN,NaN,C;Dart;HTML/CSS;Java;Python,C;C++;Go;HTML/CSS;Java;Python,MySQL;Oracle;PostgreSQL;SQLite,MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Heroku,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Django;jQuery,Django;jQuery,Flutter;Hadoop;NumPy;Pandas,NumPy;Pandas,Git,Git,Android Studio;IntelliJ;IPython/Jupyter;NetBea...,Android Studio;IntelliJ;IPython/Jupyter;NetBea...,Windows,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
192,I code primarily as a hobby,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,"Developer, full-stack;Student;Data or business...",NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Node.js;PowerShell;Python;SQL,HTML/CSS;JavaScript;Node.js;PowerShell;Python;SQL,Microsoft SQL Server;MongoDB;MySQL;SQLite,Microsoft SQL Server;MongoDB;MySQL;SQLite,Heroku;Microsoft Azure,AWS;Google Cloud Platform;Heroku;Microsoft Azure,Django;Express;jQuery;React.js,Angular.js;ASP.NET;Django;FastAPI;jQuery;React.js,Apache Spark;NumPy;Pandas;Qt,Apache Spark;Hadoop;NumPy;Pandas;TensorFlow;To...,Git,Git;Yarn,IPython/Jupyter;NetBeans;PyCharm;Visual Studio...,IPython/Jupyter;Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Multiple times per day,"Yes, somewhat",No,18-24 years old,Man,No,Prefer not to say,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
195,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Colleague,10,6,"Developer, front-end;Developer, full-stack;Dev...",100 to 499 employees,INR\tIndian rupee,NaN,Monthly,C#;HTML/CSS;JavaScript;SQL,C#;HTML/CSS;JavaScript;Node.js;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET Core,.NET Framework;.NET Core / .NET 5,.NET Core / .NET 5,Git,Git,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,NaN,None of the above,None of the above,Appropriate in length,Easy,NaN
206,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,"Other online resources (ex: videos, blogs, etc)",10,1,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,INR\tIndian rupee,9000.0,Monthly,C;C#;C++;HTML/CSS;JavaScript;Node.js;PHP;Pytho...,C;C#;C++;Go;JavaScript;Kotlin;Node.js;Perl;Pyt...,Firebase;MariaDB;Microsoft SQL Server;MongoDB;...,NaN,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,AWS;DigitalOcean;Google Cloud Platform;Heroku;...,Angular;Angular.js;Django;jQuery;Laravel;React...,Angular;Angular.js;Django;Laravel;React.js;Rub...,TensorFlow,Flutter;Keras;NumPy;Pandas;React Native,Docker;Git;Yarn,Git;Yarn,Android Studio;Atom;IPython/Jupyter;Notepad++;...,Visual Studio Code,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange;Stack Overflow f...,Multiple times per day,Yes,Less than once per month or monthly,Neutral,Yes,18-24 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Too long,Easy,1512.0
231,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,4,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;Objective-C;TypeScript,Firebase,DynamoDB;Firebase;MongoDB;MySQL;Oracle;PostgreSQL,Google Cloud Platform,AWS;Google Cloud Platform,React.js,React.js,React Native,React Native,Git,Git,Android Studio;Visual Studio Code;Xcode,Android Studio;Visual Studio Code;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per week,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,NaN,Appropriate in length,Easy,NaN
233,I code primarily as a hobby,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",45 - 54 years,"Other online resources (ex: videos, blogs, etc)",NaN,NaN,Other (please specify):,NaN,NaN,NaN,NaN,R,Python;R,Oracle,MySQL;Oracle;PostgreSQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RStudio;Visual Studio Code,Notepad++;RStudio,Windows,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",No,45-54 years old,Man,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
254,"I used to be a developer by profession, but no...",Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",15,12,"Developer, full-stack",NaN,NaN,NaN,NaN,C#;HTML/CSS;JavaScript;PowerShell;SQL,C#;F#;Node.js;TypeScript,DynamoDB;Redis,DynamoDB;Elasticsearch;Firebase;MongoDB;Redis,AWS;Microsoft Azure,AWS;Google Cloud Platform;Microsoft Azure,Angular;Angular.js;ASP.NET;ASP.NET Core,Angular;ASP.NET Core ;Gatsby,.NET Framework;.NET Core / .NET 5,.NET Core / .NET 5;Apache Spark,Docker;Git;Kubernetes,Ansible;Git;Kubernetes;Terraform,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, definitely",No,35-44 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
256,I am a student who is learning to code,"Not employed, but looking for work",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,4,NaN,Student,NaN,NaN,NaN,NaN,Bash/Shell;C;C#;C++;Go;HTML/CSS;JavaScript;Nod...,Assembly;Bash/Shell;C;C#;C++;Go;JavaScript;Nod...,Firebase;Microsoft SQL Server;MongoDB;MySQL;Po...,Cassandra;Firebase;MongoDB;MySQL;PostgreSQL;Re...,Heroku,AWS;Google Cloud Platform;Heroku;Microsoft Azure,Django;Express;React.js,ASP.NET Core ;Express;React.js,.NET Core / .NET 5,.NET Core / .NET 5,Docker;Git;Xamarin;Yarn,Ansible;Docker;Git;Kubernetes;Terraform;Yarn,Emacs;Visual Studio;Visual Studio Code,Emacs;Visual Studio;Visual Studio Code;Webstorm,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Straight / Heterosexual;Bisexual,South Asian,None of the above,Prefer not to say,Appropriate in length,Easy,NaN
263,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",15,11,"Developer, mobile;Engineering manager","10,000 or more employees",INR\tIndian rupee,2200000.0,Yearly,HTML/CSS;JavaScript;Node.js;Objective-C;Swift;...,Dart;HTML/CSS;JavaScript;Node.js;Objective-C;T...,Firebase;SQLite,Firebase;MongoDB;SQLite,Google Cloud Platform;Microsoft Azure,Google Cloud Platform;Microsoft Azure,Gatsby;React.js,Gatsby;React.js;Svelte;Vue.js,Cordova;React Native,Cordova;React Native,Git,Git;Kubernetes,Android Studio;IntelliJ;Sublime Text;Visual St...,Android Studio;IntelliJ;Sublime Text;Visual St...,MacOS,Visit Stack Overflow,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,30716.0
298,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,3,NaN,NaN,NaN,NaN,NaN,NaN,C++;Go;HTML/CSS;Java;JavaScript;Node.js;Python...,Go;Python;TypeScript,MariaDB;MongoDB;MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;Redis,Heroku,AWS;DigitalOcean;Google Cloud Platform;IBM Clo...,Django;Express;Gatsby;jQuery;React.js;Vue.js,Gatsby;React.js,NaN,NaN,Docker;Git;Yarn,Deno;Docker;Git;Kubernetes;Yarn,Sublime Text;Visual Studio Code,Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
304,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,13,NaN,NaN,NaN,NaN,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;PHP;Python;SQL,Java;PHP;SQL,Firebase;MongoDB;MySQL;SQLite,Firebase;MongoDB;MySQL;SQLite,AWS;Google Cloud Platform,AWS;Google Cloud Platform,Django;jQuery,Django;jQuery,Flutter,Flutter,Git,Git,Android Studio;Atom;IntelliJ;Notepad++;PyCharm...,Android Studio;Atom;IntelliJ;Notepad++;PyCharm...,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Overflow for Teams (priva...,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,Appropriate in length,Easy,NaN

In [64]:
filt=df['Country']=='India'
df.loc[filt]['EdLevel'].value_counts()

Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          6308
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       1722
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    1299
Some college/university study without earning a degree                                 577
Primary/elementary school                                                              297
Something else                                                                         143
Professional degree (JD, MD, etc.)                                                      57
Other doctoral degree (Ph.D., Ed.D., etc.)                                              41
Associate degree (A.A., A.S., etc.)                                                     26
Name: EdLevel, dtype: int64

In [65]:
country_grp['EdLevel'].value_counts().head(50)

Country      EdLevel
Afghanistan  Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                           21
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     10
             Primary/elementary school                                                               8
             Some college/university study without earning a degree                                  6
             Something else                                                                          6
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                         5
             Professional degree (JD, MD, etc.)                                                      4
             Associate degree (A.A., A.S., etc.)                                                     1
Albania      Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                           24
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        19
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     12
             Some college/university study without earning a degree                                  6
             Something else                                                                          4
             Associate degree (A.A., A.S., etc.)                                                     2
             Primary/elementary school                                                               2
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              1
             Professional degree (JD, MD, etc.)                                                      1
Algeria      Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        19
             Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                            8
             Some college/university study without earning a degree                                  6
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              3
             Professional degree (JD, MD, etc.)                                                      3
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)      3
             Associate degree (A.A., A.S., etc.)                                                     2
             Something else                                                                          2
Andorra      Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                            4
             Some college/university study without earning a degree                                  4
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                         2
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              1
             Professional degree (JD, MD, etc.)                                                      1
Angola       Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                            8
             Some college/university study without earning a degree                                  7
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)      6
             Primary/elementary school                                                               2
             Professional degree (JD, MD, etc.)                                                      2
             Associate degree (A.A., A.S., etc.)                                                     1
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              1
Argentina    Some college/university study without earning a degree                                228
             Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          146
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     82
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        45
             Professional degree (JD, MD, etc.)                                                     30
             Associate degree (A.A., A.S., etc.)                                                    28
             Primary/elementary school                                                              11
             Other doctoral degree (Ph.D., Ed.D., etc.)                                              9
             Something else                                                                          8
Armenia      Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                           36
             Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                        24
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     10
             Some college/university study without earning a degree                                  6
Name: EdLevel, dtype: int64

In [66]:
country_grp['EdLevel'].value_counts(normalize=True).loc['India']

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          0.602483
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       0.164470
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    0.124069
Some college/university study without earning a degree                                0.055110
Primary/elementary school                                                             0.028367
Something else                                                                        0.013658
Professional degree (JD, MD, etc.)                                                    0.005444
Other doctoral degree (Ph.D., Ed.D., etc.)                                            0.003916
Associate degree (A.A., A.S., etc.)                                                   0.002483
Name: EdLevel, dtype: float64

In [67]:
country_grp['ConvertedCompYearly'].median()

Country
Afghanistan                              9792.0
Albania                                 15900.0
Algeria                                  9875.0
Andorra                                 94045.5
Angola                                   9750.0
                                         ...
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                12678.0
Yemen                                    3954.0
Zambia                                   9816.0
Zimbabwe                                 7200.0
Name: ConvertedCompYearly, Length: 181, dtype: float64

In [68]:
country_grp['ConvertedCompYearly'].median().loc['India']

14748.0

In [69]:
country_grp['ConvertedCompYearly'].agg(['median','mean']).loc['India']

median    14748.000000
mean      42522.583464
Name: India, dtype: float64

In [70]:
filt=df['Country']=='India'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains("Python")

ResponseId
9        False
23        True
40        True
50        True
53        True
         ...
83400    False
83407     True
83411     True
83412    False
83418    False
Name: LanguageHaveWorkedWith, Length: 10511, dtype: object

In [71]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x:x.str.contains("Python").sum())

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [72]:
countr_respondent=df['Country'].value_counts()
countr_respondent

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Dominica                                                    1
Saint Vincent and the Grenadines                            1
Tuvalu                                                      1
Papua New Guinea                                            1
Name: Country, Length: 181, dtype: int64

In [73]:
country_uses_pytho=country_grp['LanguageHaveWorkedWith'].apply(lambda x:x.str.contains("Python").sum())
country_uses_pytho

Country
Afghanistan                              20
Albania                                  30
Algeria                                  19
Andorra                                   4
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     43
Viet Nam                                173
Yemen                                     6
Zambia                                   12
Zimbabwe                                 17
Name: LanguageHaveWorkedWith, Length: 181, dtype: int64

In [75]:
python_df=pd.concat([country_uses_pytho,countr_respondent],axis=1,sort=False)
python_df

                                      LanguageHaveWorkedWith  Country
Afghanistan                                               20       65
Albania                                                   30       73
Algeria                                                   19       46
Andorra                                                    4       12
Angola                                                     5       27
...                                                      ...      ...
Venezuela, Bolivarian Republic of...                      43      104
Viet Nam                                                 173      386
Yemen                                                      6       20
Zambia                                                    12       22
Zimbabwe                                                  17       36

[181 rows x 2 columns]

In [77]:
python_df=python_df.rename(columns={'Country':'Num_of Resp','LanguageHaveWorkedWith':'Language_by_people' })

In [78]:
python_df

                                      Language_by_people  Num_of Resp
Afghanistan                                           20           65
Albania                                               30           73
Algeria                                               19           46
Andorra                                                4           12
Angola                                                 5           27
...                                                  ...          ...
Venezuela, Bolivarian Republic of...                  43          104
Viet Nam                                             173          386
Yemen                                                  6           20
Zambia                                                12           22
Zimbabwe                                              17           36

[181 rows x 2 columns]

In [79]:
python_df['%_of_know_python']=(python_df['Language_by_people']/python_df['Num_of Resp'])*100

In [86]:
python_df

,Language_by_people,Num_of Resp,%_of_know_python
Afghanistan,20,65,30.769231
Albania,30,73,41.095890
Algeria,19,46,41.304348
Andorra,4,12,33.333333
Angola,5,27,18.518519
...,...,...,...
"Venezuela, Bolivarian Republic of...",43,104,41.346154
Viet Nam,173,386,44.818653
Yemen,6,20,30.000000
Zambia,12,22,54.545455
Zimbabwe,17,36,47.222222

In [87]:
python_df.sort_values(by='%_of_know_python',ascending=False)

,Language_by_people,Num_of Resp,%_of_know_python
Tuvalu,1,1,100.0
Sierra Leone,2,2,100.0
Brunei Darussalam,1,1,100.0
Dominica,1,1,100.0
Liechtenstein,1,1,100.0
...,...,...,...
San Marino,0,2,0.0
Lesotho,0,4,0.0
Saint Vincent and the Grenadines,0,1,0.0
Saint Kitts and Nevis,0,1,0.0
Papua New Guinea,0,1,0.0

In [88]:
python_df.loc['India']

Language_by_people     5233.000000
Num_of Resp           10511.000000
%_of_know_python         49.785939
Name: India, dtype: float64